<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="One Click Project Import Action Set"
            visible="true"
            id="ListProjectPlugin.actionSet">
         <action
               class="listprojectplugin.actions.ImportProjectAction"
               icon="icons/saveProjects.gif"
               id="OneClickImportPlugin.action1"
               label="Import Selected Folder As Project"
               toolbarPath="sampleGroup"
               tooltip="Import Selected Folder As Project">
         </action>
      </actionSet>
   </extension>

</plugin>
